body{
    padding-top:200px;}

.contain > div{
    width:500px;
    margin:0 auto;}
.wrap > div{
    float:left;
    width:100%;
    margin-bottom:15px;}
.wrap > div > span{
    float:left;
    display:block;
    padding:10px;}
.wrap > div > span >input{
    font-size:14px;
    line-height:14px;
    color:#595959;}
.wrap > div > span > img{
    width:100px;
    border:1px #ccc solid;}
.wrap .tit{
    width:110px;
    text-align:right;}
.wrap span.w_i{
    width:200px;
    border-radius:5px;
    border:1px #ccc solid;
    overflow:hidden;}
.wrap span.w_pic{
    padding:7px 10px;}
.w_dx .w_dx_btn > input,.wrap1 > .w_btn > span > a,.wrap2 > .w_btn > span > a{
    display:block;
    width:198px;
    line-height:38px;
    color:#2f2f2d;
    border:1px #2f2f2d solid;
    border-radius:5px;
    background:#ffe537;
    text-align:center;
    margin-left:100px;}
.w_dx .w_dx_btn > input:hover{
    cursor:pointer;}
.wrap1 > .w_btn > span > a{}

.wrap2{
    display:none;}
.wrap2 > div > em{
    line-height:40px;
    color:#f00;
    padding-left:10px;}






















































