
body{
	padding-top:76px;
    background:#f5f5f5;}
.head{
	background:#2f2f2d;}
	
.info{
	width: 1226px;
    margin: 0 auto;
    /*padding: 20px;*/
    margin-top: 20px;
    background: #fff;
    transition:0.5s box-shadow;
    -ms-transition:0.5s box-shadow;
    -webkit-transition:0.5s box-shadow;}
.info:hover{
    box-shadow:0 0 20px rgba(0,0,0,0.5);}
	
.btn_a{
	display:block;
	color:#2f2f2d;
	width:190px;
	margin-left:25px;
	line-height:36px;
	text-align:center;
	background:#ffe537;
	border-radius:5px;
	border:1px #2f2f2d solid;}

/*-------内容部分CSS----------*/
.content{
	width:1226px;
	margin:0 auto;
	margin-top:20px;}
	
/*-------内容右边----------*/
.list{
    width:100%;
    background:#fff;
    margin-bottom:25px;
    padding:25px 30px;
    transition:0.5s box-shadow;
    -ms-transition:0.5s box-shadow;
    -webkit-transition:0.5s box-shadow;}
.list:hover{
    box-shadow:0 0 25px rgba(0,0,0,0.2);}
.list > p{
    font-size: 18px;
    color: #2f2f2d;
    border-bottom: 1px solid #dfdfdf;
    height: 35px;
    margin-bottom: 10px;}
.list > p > em{
    float:right;
    font-size:14px;
    line-height:24px;}
.list > p > em > a{
    margin:0 5px;
    color:#595959;}
.list .wrap > ul{
    float:left;
    margin-right:60px;}
.list li{
    width:328px;
    text-overflow:ellipsis;
    overflow:hidden;
    white-space:nowrap;
    line-height:24px;
    list-style-type:square;
    list-style-position:inside;}
.list li a{color:#595959;}
.list a:hover{ color:#ffe537;}

.list1{ border-top:3px solid #A2E6C1;}
.list2{ border-top:3px solid #FB86AE;}
.list3{ border-top:3px solid #75DFFF;}

/*-------内容左边----------*/







